body {
    background-color: black;
}

.navbar {
    padding: 0 20px;
}
a:hover {
    cursor: pointer;
}
input {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    padding: 4px;
}
.container1 {
    margin: auto;
    max-width: 100%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: black;
}

/* dashboard */


.controls {
    margin-bottom: 20px;
}
.page-header {
    margin-top: 15px;
    border-bottom: 0px solid #eeeeee;
}
ul {
    list-style: none;
}
.box {
    height: 100%;
    border: 0px solid #436D7C;
    background-color: #436D7C;
    outline: none;
    cursor: pointer;
}
.box-header {
    /*background-color: #eee;*/
    color: #fff;
    font-weight: bolder;
    padding: 0 30px 0 10px;
    border-bottom: 0px solid #ccc;
    cursor: move;
    position: relative;
    text-align:center;
    outline: none;
}
.box-header h3 {
    width: 100%;
    font-size: 20px;
    font-size: 1.5vw;
    margin: 5px;
    display: inline-block;
}
.box-content {
    height: 100%;
    padding-top: 5px;
    text-align: center;
    font-size: 4vw; 
    outline: none;
}

.box-header-btns {
    top: 5px;
    right: 2px;
    cursor: pointer;
    position: absolute;
}

.box-content img
{
  max-width:50%;
  max-height:70%;
  /*margin:auto;*/
  display:inline-block;
}

.widget-state {
    color: #F5AA11;
    vertical-align: middle;
    display: inline-block;
    padding-top: 0px;
}

a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.gridster {
    border: 1px solid #ccc;
}
.gridster-item {
    border: 1px solid #ccc;
}